/* Responsive Classes */

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex: 1 0 0%;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex: 1 0 0%;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex: 1 0 0%;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    box-sizing: border-box;
    flex: 1 0 0%;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    box-sizing: border-box;
    flex: 1 0 0%;
  }

  .col-xxl-1 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 100%;
  }
}
